EXPO_PUBLIC_SUPABASE_URL=https://ymwlymasveorwpaexyql.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_v-ChBUzwMUkRg7T5ZmHo7w__QCbXk0Y
EXPO_PUBLIC_ENCRYPTED_MEDIA_BUCKET=encrypted-media
